.col-md-3 {
	background: #eeeeee;
	border: 1px solid black;
	min-height: 150px;
	margin-right: 88px;
	margin-bottom: 30px;
}
.row {
	padding-bottom: 10px;
	padding-left: 8%;
}

#grid_heading {
	text-align: center;
}

